vyz-app/node_modules/
vyz-app/.expo/
vyz-app/.expo-shared/
vyz-app/build/
vyz-app/dist/
vyz-app/.turbo/
vyz-app/coverage/
*.log


node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
